@font-face {
    font-family: mistral;
    src: url(./fonts/MISTRAL.TTF);
}

@font-face {
    font-family: vivaldii;
    src: url(./fonts/VIVALDII.TTF);
}

@font-face {
    font-family: poppines;
    src: url(./fonts/Poppins-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header */
/* nav bar */
.navigation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img {
    width: 120px;
    height: auto;
}

.navbar ul li {
    list-style: none;
    display: inline;
}

.navbar ul li a {
    font-size: larger;
    font-family: poppines;
    color: #FFFFFF;
    margin-left: 25px;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #9d692e;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: poppines;
    z-index: 1;
    color: white;
    width: 175px;
    height: auto;
}

.nav-button{
    padding: 8px 20px;
    background-color: #9d692e;
    color: white;
    border: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
.nav-button:hover{
color: black;
}

/* bg */

.bg-text {
    background: url(./img/about\ us.avif) no-repeat top / cover;
    position: relative;
    height: 100vh;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-text::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-text div p {
    color: #FFFFFF;
    font-family: mistral;
    font-size: 60px;
    font-weight: 500;
}

.bg-text div {
    position: relative;
    top: 10px;
    text-align: center;
    z-index: 2;
}

.bg-text div h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: vivaldii;
    font-size: 125px;
}

.head-text-but{
    padding: 10px 50px;
    background-color: #9d692e;
    color: white;
    border: none;
    border-radius: 20px;
}

.head-text-but:hover {
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.6);
    z-index: 5;
}
/* aboutus */
.aboutus{
    background: rgba(0, 0, 0, 0.9);
}
.message-about{
    text-align: center;
    display: flex;
   align-items: center;
   justify-content: center; 
   color: #ffff;
}
.message-about h3{
    width: 40%;
    margin-top: 50px;
    border: #9d692e 1px solid;
    padding: 20px;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
h6,.about-p{
    color: #ffff;
}
.about ,.our-intro,.vision,.customer{
    width: 80%;
    margin: 30px 30px ;
    border: #9d692e 1px solid;
    padding: 20px;
}
.shop{
    display: flex;
   align-items: center;
   justify-content: center; 
   margin:30px 0 ;
   padding-bottom: 30px;
   border-radius: 20px;
}
.shop img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
.shop::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 600px;
    height: 400px;
}
/* feedback */
.feedback {
    height: 300px;
    width: 100%;
    background: url(img/feedbackshow.avif) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-text {
    width: 60%;
    height: auto;
}

.feedback p {
    font-size: 30px;
    color: #9d692e;
    font-weight: bolder;
    text-transform: capitalize;
}

.feedback-but {
    padding: 10px 50px;
    background-color: #9d692e;
    color: white;
    border: none;
}
.feedback-but:hover{
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.chats-icon span{
    font-size: 40px;
    height: auto;
    color: white;
    border-radius: 3rem;
    padding: 8px 14px;
    background-color:#9d692e;
    margin-left: 23px;
}
.chats-icon{
    position: fixed;
    right: 30px;
    bottom: 130px;
    z-index: 10;
} 

/* footer */
.footer-bg{
    background-color: rgba(0, 0, 0, 0.9);
}
.import-text{
    width: 80%;
    margin: auto;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}
.import-text p{
    color: #FFFFFF;
    font-size: 18px;
}
.line-break{
    height: 20px;
    color: #FFFFFF;
}
.footer-2 img {
    width: 345px;
    height: auto;
    margin-bottom: -20%;
    text-align: center;
}
.footer-2{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.location,.contact{
width: auto;
margin: 0 20px 0 20px;
}
.location a,.contact p{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
}
.location a:hover,.contact p:hover{
    color: #9d692e;
    border-bottom: #FFFFFF 2px solid;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon a i {
    font-size: 19px;
    height: auto;
    color: white;
    border-radius: 3rem;
    padding: 10px 12px;
    background-color: grey;
    margin-left: 23px;
}
.icon :nth-child(1) i:hover {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: red;
    background-color: black;
}

.icon :nth-child(2) i:hover {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: rgb(255, 0, 128);
    background-color: black;
}

.icon :nth-child(3) i:hover {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: rgb(52, 52, 255);
    background-color: black;
}
.footer_base {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.footer_base p {
    margin: 35px 20px 35px 20px;
}
.span_f1 {
    font-weight: bolder;
    color:#9d692e;
}
/* media query */
@media screen and (max-width: 1000px) and (min-width: 915px)  {
.bg-text div p{
    color: #FFFFFF;
font-family: mistral;
font-size: 20px;
font-weight: 300;
}
.bg-text div h1 {
    color: #FFFFFF;
    font-weight: 500;
    font-family: vivaldii;
    font-size: 58px; 
}
.head-text-but{
    padding: 5px 25px;
    background-color: #9d692e;
    color: white;
    border: none;
    border-radius: 20px;
}
}
@media screen and (max-width: 916px) and (min-width: 768px)  {
    
    .bg-text div p{
        color: #FFFFFF;
    font-family: mistral;
    font-size: 20px;
    font-weight: 300;
    }
    .bg-text div h1 {
        color: #FFFFFF;
        font-weight: 500;
        font-family: vivaldii;
        font-size: 58px; 
    }
    .head-text-but{
        padding: 5px 25px;
        background-color: #9d692e;
        color: white;
        border: none;
        border-radius: 20px;
    }
    /* footer */
   .feedback p {
    font-size: 30px;
    color: #9d692e;
    font-weight: bolder;
}
.chats-icon span{
    font-size: 35px;
    height: auto;
    color: white;
    border-radius: 3rem;
    padding: 9px 15px;
    background-color:#9d692e;
    margin-left: 20px;
}
.chats-icon{
    position: fixed;
    right: 30px;
    bottom: 130px;
    z-index: 10;
} 
   .import-text p{
    color: #FFFFFF;
    font-size: 18px;
}
.import-text{
    width: 80%;
    margin: auto;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}
}
@media screen and (max-width: 769px) and (min-width: 500px) {
    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 2;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }
    
    .bg-text div p{
        color: #FFFFFF;
    font-family: mistral;
    font-size: 20px;
    font-weight: 300;
    }
    .bg-text div h1 {
        color: #FFFFFF;
        font-weight: 500;
        font-family: vivaldii;
        font-size: 58px; 
    }
    .head-text-but{
        padding: 5px 25px;
        background-color: #9d692e;
        color: white;
        border: none;
        border-radius: 20px;
    }
    /* feeback */
    .feedback p {
        font-size: 25px;
        color: #9d692e;
        font-weight: bolder;
    }
    .chats-icon span{
        font-size: 25px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 9px 14px;
        background-color:#9d692e;
        margin-left: 21px;
    }
    .chats-icon{
        position: fixed;
        right: 30px;
        bottom: 130px;
        z-index: 10;
    } 
    .import-text p{
        color: #FFFFFF;
        font-size: 18px;
    }
    .import-text{
        width: 80%;
        margin: auto;
        height: 300px;
        text-align: center;
        display: flex;
        align-items: center; 
    }
    .footer-2 img {
        width: 170px;
        height: auto;
        margin-bottom: -20%;
        text-align: center;
    }
    .icon a i {
        font-size: 9px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 7px 8px;
        background-color: grey;
        margin-left: 10px;
    }
    .footer_base {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    
    .footer_base p {
        margin-bottom: 35px;
        font-size: 8px;
    }
    .location,.contact{
        color: #FFFFFF;
        width: auto;
        font-size: smaller;
        }
        .about-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
        .message-about h3{
            width: 80%;
            margin-top: 50px;
            border: #9d692e 1px solid;
            padding: 20px;
        } 
        .about ,.our-intro,.vision,.customer{
            width: 80%;
            margin: 30px 30px ;
            border: #9d692e 1px solid;
            padding: 20px;
        }
        .shop img{
            width: 400px;
            height: 200px;
        }
        .shop::after{
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            width: 400px;
            height: 200px;
        }
    }
    @media screen and (max-width: 499px) and (min-width: 360px)
{
    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 2;
        width: 100%;
        background-color: #333;
        z-index: 2;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0px;
    }
    
    .bg-text {
        background: url(./img/about\ us.avif) no-repeat center / cover;
        position: relative;
        height: 100vh;
        top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* gallery */
    .bg-text div p{
        color: #FFFFFF;
    font-family: mistral;
    font-size: 35px;
    font-weight: 300;
    }
    .bg-text div h1 {
        color: #FFFFFF;
        font-weight: 500;
        font-family: vivaldii;
        font-size: 60px; 
    }
    .head-text-but{
        padding: 5px 25px;
        background-color: #9d692e;
        color: white;
        border: none;
        border-radius: 20px;
    }
    .feedback p {
        font-size: 15px;
        color: #9d692e;
        font-weight: bolder;
    }
    .feedback-but {
        padding: 8px 30px;
        background-color: #9d692e;
        color: white;
        border: none;
    }
    .chats-icon span{
        font-size: 30px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 7px 11px;
        background-color:#9d692e;
        margin-left: 20px;
    }
    .chats-icon{
        position: fixed;
        right: 30px;
        bottom: 130px;
        z-index: 10;
    } 
    .import-text p{
        color: #FFFFFF;
        font-size: 10px;
    }
    .import-text{
        width: 100%;
        margin: auto;
        height: 100px;
        text-align: center;
        display: flex;
        align-items: center; 
    }
    .footer-2{
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .footer-2 img {
        width: 160px;
        height: auto;
        margin-bottom: -20%;
        text-align: center;
    }
    .icon a i {
        font-size: 9px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 7px 8px;
        background-color: grey;
        margin-left: 10px;
    }
    .location,.contact{
        color: #FFFFFF;
        width: auto;
        margin: 20px 0;
        }
        .location a,.contact p{
            color: #FFFFFF;
            text-decoration: none;
            font-size: 15px;
            font-family: po;
        }
    .footer_base {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    
    .footer_base p {
        margin-bottom: 35px;
        font-size: 8px;
    }
    .location,.contact{
        color: #FFFFFF;
        width: auto;
        font-size: smaller;
        }
    
    .about-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .message-about h3{
        width: 80%;
        margin-top: 50px;
        border: #9d692e 1px solid;
        padding: 20px;
    } 
    .about ,.our-intro,.vision,.customer{
        width: 80%;
        margin: 30px 30px ;
        border: #9d692e 1px solid;
        padding: 20px;
    }
    .shop img{
        width: 300px;
        height: 200px;
    }
    .shop::after{
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        width: 300px;
        height: 200px;
    }
}
    @media screen and (max-width: 359px) and (min-width: 300px)
{
    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 2;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }
    .nav-button{
        padding: 8px 20px;
        background-color: #9d692e;
        color: white;
        border: none;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .bg-text {
        background: url(./img/hero-bg.jpg) no-repeat center / cover;
        position: relative;
        height: 100vh;
        top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* gallery */
    .bg-text div p{
        color: #FFFFFF;
    font-family: mistral;
    font-size: 35px;
    font-weight: 300;
    }
    .bg-text div h1 {
        color: #FFFFFF;
        font-weight: 500;
        font-family: vivaldii;
        font-size: 60px; 
    }
    .head-text-but{
        padding: 5px 25px;
        background-color: #9d692e;
        color: white;
        border: none;
        border-radius: 20px;
    }
    .feedback-but {
        padding: 8px 30px;
        background-color: #9d692e;
        color: white;
        border: none;
    }
    .feedback p {
        font-size: 15px;
        color: #9d692e;
        font-weight: bolder;
    }
    .chats-icon span{
        font-size: 30px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 7px 11px;
        background-color:#9d692e;
        margin-left: 20px;
    }
    .chats-icon{
        position: fixed;
        right: 30px;
        bottom: 130px;
        z-index: 10;
    } 
    /* footer */
    .import-text p{
        color: #FFFFFF;
        font-size: 10px;
    }
    .import-text{
        width: 100%;
        margin: auto;
        height: 200px;
        text-align: center;
        display: flex;
        align-items: center; 
    }
    .footer-2{
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .footer-2 img {
        width: 140px;
        height: auto;
        margin-bottom: -20%;
        text-align: center;
    }
    .icon a i {
        font-size: 8px;
        height: auto;
        color: white;
        border-radius: 3rem;
        padding: 6px 7px;
        background-color: grey;
        margin-left: 10px;
    }
    .location,.contact{
        color: #FFFFFF;
        width: auto;
        margin: 20px 0;
        }
        .location a,.contact p{
            color: #FFFFFF;
            text-decoration: none;
            font-size: 10px;
            font-family: poppines;
        }
    .footer_base {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    
    .footer_base p {
        margin-bottom: 35px;
        font-size: 8px;
    }
    .footer_base p {
        margin: 10px 0px;
    }
    }
    